 body {
  background-color: rgb(246, 244, 244);
  font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
} 
.container {
 color: rgb(23, 23, 23);
 display: grid;
 grid-template-columns: 25% 75%;
 grid-template-rows: 120px auto 10px;
 grid-template-areas:
 "header header "
 "sidebar main "
}
h1{
  grid-area: "header";
  grid-column-start: 1;
  grid-column-end: 3;
  /* padding: 5px; */
  margin: auto;
/* background-color: #fff; */
  /* background-color: rgb(183, 156, 125); */
}

